Html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    hieght: 100%;
    widght: 100%;
}

a {
    color: #0059b2;
    text-decoration: none;
}
a:hover {
    color: #CC0000;
    text-decoration: none;
}

.clear {clear: both;}

.header {
	background: #3f4137;
	height: 60px;
}

ul.mainmenu {
    list-style: none;
    hieght: 60px;
    margin: 0;
    padding: 0;
    color: #fdc073;
    font-size: 20px;
    overflow: hiden;
}
ul.mainmenu li {
    float: left;
    margin: 18px 10px 0 20px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
    color: #fdc073;
    text-decoration: none;
}

ul.mainmenu li a:hover {
    color: #fda83d;
}

div.content {
    margin: 10px;
}

.form-contact label {
    display: inline-block;
    min-width: 80px;
}
.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
    font-size: 16px;
}

.flash {padding: 10px;}
.flash.success {
    border: 1px solid #21db56;
    background: #aeffc5;
}
.flash.error {
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

ul.list-posts {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 600px;
}
ul.list-posts li {
    margin: 20px 0 0 0;
    border: 1px solid #eee;
}
ul.list-posts .title {
    margin: 0;
    padding: 5px;
    background: #eee;
}
ul.list-posts .annonce {
    margin: 0;
    padding: 10px 5px 10px 5px
}

/* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: darkgreen;
    cursor: pointer;
    display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}