{% extends 'base_new.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
{% endblock %}

{% block scores %}
<ul>
{% for a in range(an) %}
    <li> <b>{{ann[a]}}</b>{{ans[a]}} </li>
{% endfor %}
</ul>

<form action="/appp" method="post">
    <p><label>попытка: {{num}}</label> <input type="text" name="number" value="{{val}}" required />
    <p><input type="submit" value="Ok" />
</form>
{% if win == 'YES' %}
    <p>Поздравляю! Вы выиграли.</p>
{% elif win == 'NO' %}
    <p>Не свезло...</p>
{% endif %}
{% endblock %}